@model HeThongQuanLyDoAnCNTT.DataAccess.Subject

@{
    ViewBag.Title = "Create";
}
<!DOCTYPE html>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="single-product-tab-area mg-tb-15">
        <!-- Single pro tab review Start-->
        <div class="single-pro-review-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="review-tab-pro-inner">
                            <ul id="myTab3" class="tab-review-design">
                                <li class="active"><a href="#description"><i class="fa fa-pencil" aria-hidden="true"></i> Đề tài giảng viên</a></li>
                                @*<li><a href="#review"><i class="fa fa-file-image-o" aria-hidden="true"></i> Đề tài tự chọn</a></li>*@
                            </ul>
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                @* Đề tài giảng viên *@
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                @if (ViewBag.TeacherSubject != null)
                                                {
                                                    @Html.DropDownListFor(model => model.ID_Subject, ViewBag.TeacherSubject as SelectList, "--- Danh sách đề tài giảng viên ---", new { @class = "form-control" })
                                                }
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                @Html.TextBoxFor(model => model.ID_Teacher, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt" required>
                                                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                                    <textarea placeholder="Giới thiệu...." name="Contents" class="form-control" rows="5" style="resize:none"></textarea>
                                                </div>
                                            </div>
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt" required>
                                                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                                    <textarea placeholder="Nội dung...." name="Description" class="form-control" rows="10" style="resize:none"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                                <button type="submit" class="btn btn-primary waves-effect waves-light m-r-10">
                                                    Lưu
                                                </button>
                                                <button type="button" onclick="window.location.href='/Subjects'" class="btn btn-success">
                                                    Trở về
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#ID_Teacher").attr("disabled", "disabled").off('click');
        $("#ID_Subject").change(function () {
            $.get("/Subjects/GetTeacherName", { ID_Subject: $("#ID_Subject").val() }, function (data) {
                $("#ID_Teacher").val(data);
            })
        })
    });
</script>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
